   <footer class="page-footer navybg">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">A Blog made with Koa/Node/Mongo</h5>
                <p class="grey-text text-lighten-4">This blog was created using Mongo/Node/Koa. The design was created using the materialize CSS framework.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="http://www.github.com/AlexMercedCoder">Github</a></li>
                  <li><a class="grey-text text-lighten-3" href="http://www.AlexMercedCoder.com">Portfolio</a></li>
                  <li><a class="grey-text text-lighten-3" href="http://www.linkedin.com">LinkedIn</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2019 Copyright Text
            <a class="grey-text text-lighten-4 right" href="AlexMercedCoder.com">My Website!</a>
            </div>
          </div>
        </footer>