  <nav>
    <div class="nav-wrapper navybg">
      <a href="/" class="brand-logo">A Blog</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="http://www.github.com/alexmercedcoder">Github</a></li>
        <li><a href="http://www.alexmercedcoder.com">Portfolio</a></li>
        <li><a href="http://www.linkedin.com/in/alexmerced">LinkedIN</a></li>
      </ul>
    </div>
  </nav>