<!DOCTYPE html>
<html lang="en">
<head>

{% include './includes/head.njk' %}
    
</head>
<body>
    
<header>

    {% include './includes/header.njk' %}

</header>

<body>


<div class='post'>

   <div>Edit Post</div><br><Br>

    <form action="/edit/{{post.id}}?_method=PUT" method="POST">
    <input type = "text" value={{post.title}} name="title" placeholder="Title" />
    <textarea name="body" placeholder="write your post here">{{post.body}}</textarea>
    <input type = "password" placeholder="Password" name="pw"/>
    <input type = "submit" class="waves-effect waves-light btn navybg" value="Edit Post"/>
    </form>

</div>


</body>


<footer>

    {% include './includes/footer.njk' %}

</footer>


</body>
</html>