<!DOCTYPE html>
<html lang="en">
<head>

{% include './includes/head.njk' %}
    
</head>
<body>
    
<header>

    {% include './includes/header.njk' %}

</header>

<body>

<center><a href="/create/">ERROR</a></center>



<div class='post'>

   <div>COMPLETE</div><br><Br>

</div>


</body>


<footer>

    {% include './includes/footer.njk' %}

</footer>


</body>
</html>