* {box-sizing: border-box;}

.navybg {background-color: #001f3f}

.post {width: 80%; background-color: #001f3f; color: white; margin: 30px auto; padding: 20px;}

input {color: white;}

.post div {background-color: white; width: 80%; color: #001f3f; margin: 10px auto; padding: 10px; font-size: 2.4em;}

.post p {width: 80%; margin: 10px auto; border: 3px solid white; padding: 10px;}

textarea {color: white;}